<div class="container my-3">
  <div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolores aspernatur optio quam. Doloribus incidunt impedit, ex expedita consequatur magni mollitia rem nihil pariatur possimus, molestiae dicta et? Distinctio, reprehenderit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora mollitia laudantium, ad vitae quod blanditiis.</p>
    <p class="lead">
      <a class="btn btn-success btn-lg" routerLink="/" role="button">Go Back</a>
    </p>
  </div>
</div>
